.inputPlus {
    width: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 60px;

    &Value {
        border: 1px solid #b1b1b1;
        border-radius: 5px 0 0 5px;
        padding: 10px;
        font: 1rem/1.4 'Roboto', sans-serif;
        background: #dbe2ef;

        &::placeholder {
            color: #7b7b7b;
        }
        &:focus {
            border: 1px solid #3f72af;
            outline: none;
        }
    }
    &Button{
        border-radius: 0 5px 5px 0;
        border: none;
        cursor: pointer;
        background: #3f72af url('./images/plus.svg') no-repeat center center;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }
}